<footer class="border-top mt-5 py-4 bg-light">
  <div class="container small text-muted d-flex flex-column flex-md-row align-items-center">
    <div class="d-flex align-items-center gap-2 flex-grow-1 justify-content-start">
      <a href="/#home">
        <img src="../assets/Icons/TSCLogo.png" class="footer-logo" alt="סמל החברה" width="972" height="531" loading="lazy" decoding="async">
      </a>
      <span>© <span id="year"></span> המרכז לבטיחות בתנועה</span>
    </div>

    <div class="flex-grow-1"></div>

    <div class="d-flex gap-3 flex-grow-1 justify-content-end footer-nav-links">
      <a class="text-muted" href="/pages/privacy.html">מדיניות פרטיות</a>
      <a class="text-muted" href="/pages/terms.html">תקנון שימוש</a>
      <a class="text-muted" href="/pages/accessibility.html">הצהרת נגישות</a>
      <a class="text-muted" href="/#about">אודות</a>
      <a class="text-muted" href="/#services">שירותים</a>
      <a class="text-muted" href="/#projects">פרוייקטים</a>
      <a class="text-muted" href="/#contact">צור קשר</a>
      <a class="text-muted" href="/store">חנות</a>
      <a class="text-muted" href="/pages/cart.html">עגלה</a>
    </div>
  </div>
</footer>
