  <link rel="stylesheet" href="../css/style.css" />

<footer class="border-top mt-5 py-4 bg-light">
  <div class="container small text-muted d-flex flex-column flex-md-row align-items-center">

    <!-- שמאל: לוגו + טקסט -->
    <div class="d-flex align-items-center gap-2 flex-grow-1 justify-content-start">
      <a href="#home">
        <img src="../assets/Icons/TSCLogo.png" class="footer-logo" alt="סמל החברה">
      </a>
      <span>© <span id="year"></span> המרכז לבטיחות בתנועה</span>
    </div>

    <!-- אמצע: ריק -->
    <div class="flex-grow-1"></div>

    <!-- ימין: קישורים -->
    <div class="d-flex gap-3 flex-grow-1 justify-content-end">
      <a class="text-muted" href="../partials/privacy.html">מדיניות פרטיות והצהרת נגישות</a>
      <a class="text-muted" href="#contact">צור קשר</a>
      <a class="text-muted" href="#projects">שירותים</a>
    </div>

  </div>
</footer>